$default-text-color: $black;
$default-background-color: $light-gray;

$default-body-font: $rubik;
$default-heading-font: $josefin;

$default-body-font-weight: $font-regular;
$default-heading-font-weight: $font-bold;
$default-heading-color: $purple;

img {
    max-width: 100%;
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
}

a {
    text-decoration: none;
}

html {
    font-size: 10px;
}

body {
    font-size: 16px;
    color: $default-text-color;
    background-color: $default-background-color;
    font-family: $default-body-font;
    font-weight: $default-body-font-weight;
}

h1,h2,h3,h4,h5,h6 {
    font-family: $default-heading-font;
    font-weight: $default-heading-font-weight;
    color: $default-heading-color;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}