// $btn-default-background: $dark-gray;
// $btn-default-color: $white;

// $btn-secondary-background: $blue;
// $btn-info-background: $cyan;
// $btn-warning-background: $orange;
// $btn-danger-background: $red;
// $btn-success-background: $green;

$btn-collection: (
'default': $dark-gray,
'secondary': $blue,
'info': $cyan,
'warning': $orange,
'danger': $red,
'success': $green
);

%btn {
    display: inline-block;
    padding: 10px 25px;
    border: none;
    @include radius(5px);
    // @include customRadius(5px, 0, 5px, 0);
    cursor: pointer;
}

@each $key, $value in $btn-collection {
    .btn-#{$key} {
        @extend %btn;
        background-color: $value;
        color: colorYiq($value);
        &:hover {
            background-color: darken($value, 15%);
        }
    }
}