$btn-default-background: $dark-gray;
$btn-default-color: $white;

$btn-secondary-background: $blue;
$btn-info-background: $cyan;
$btn-warning-background: $orange;
$btn-danger-background: $red;
$btn-success-background: $green;

%btn {
    display: inline-block;
    padding: 10px 25px;
    border: none;
    @include radius(5px);
    // @include customRadius(5px, 0, 5px, 0);
    cursor: pointer;
}

.btn-default {
    @extend %btn;
    background-color: rgba($btn-default-background, 0.8);
    color: $btn-default-color;
    &:hover {
        background-color: darken($btn-default-background, 15%);
    }
}

.btn-secondary {
    @extend %btn;
    background-color: $btn-secondary-background;
    color: $btn-default-color;
    &:hover {
        background-color: darken($btn-secondary-background, 15%);
    }
}

.btn-info {
    @extend %btn;
    background-color: $btn-info-background;
    color: $btn-default-color;
    &:hover {
        background-color: darken($btn-info-background, 15%);
    }
}

.btn-warning {
    @extend %btn;
    background-color: $btn-warning-background;
    color: $btn-default-color;
    &:hover {
        background-color: darken($btn-warning-background, 15%);
    }
}

.btn-danger {
    @extend %btn;
    background-color: $btn-danger-background;
    color: $btn-default-color;
    &:hover {
        background-color: darken($btn-danger-background, 15%);
    }
}

.btn-success {
    @extend %btn;
    background-color: $btn-success-background;
    color: $btn-default-color;
    &:hover {
        background-color: darken($btn-success-background, 15%);
    }
}