$footer-background-color: $purple;
$footer-color: $white;
$footer-nav-font: $josefin;
$footer-link-hover: $cyan;

footer {
    @include styleSection(30px, 30px, $footer-background-color);

    nav {
        ul {
            list-style-type: none;
            padding-left: 0;
            margin-bottom: 25px;
            li {
                a {
                    display: block;
                    padding: 5px 0;
                    font-family: $footer-nav-font;
                    font-weight: $font-bold;
                    color: $footer-color;
                    text-align: center;
                    text-transform: uppercase;
                    &:hover, &.active {
                        color: lighten(complement($footer-background-color), 25%);
                    }
                }
            }
        }
    }

    .copyright {
        color: $footer-color;
        text-align: center;
    }
}

@media(min-width:768px){
    footer {
        nav {
            ul {
                display: flex;
                justify-content: center;
                align-items: center;
                li {
                    a {
                        padding: 5px 20px;
                    }
                }
            }
        }
    }
}